* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.box {
    position: absolute;
    top: 200px;
    left: 500px;
    height: 50px;
    width: 140px;
    background-color: green;
}

.box-2 {
    position: absolute;
    top: 170px;
    left: 500px;
    height: 50px;
    width: 140px;
    background-color: yellow;
    z-index: -1;
    transition: top 1s;
}

.box-2:hover {
    top: 160px;
}

.box-3 {
    position: absolute;
    top: 140px;
    left: 500px;
    height: 50px;
    width: 140px;
    background-color: red;
    z-index: -2;
    transition: top 1s;
}

.box-3:hover {
    top: 130px;
}

.box-4 {
    position: absolute;
    top: 110px;
    left: 500px;
    height: 50px;
    width: 140px;
    background-color: blue;
    z-index: -3;
    transition: top 1s;
}

.box-4:hover {
    top: 100px;
}

a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 25px;
}

.box h1 {
    padding-top: 4px;
}

.box {
    box-shadow: 3px 9px 10px green;
}

.box-2 {
    box-shadow: 3px 9px 10px yellow;
}

.box-3 {
    box-shadow: 3px 9px 10px red;
}

.box-4 {
    box-shadow: 3px 9px 10px blue;
}

.all {
    border-radius: 20px;
    border: 1px solid white;
}